<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spseol_PRG - Počítání ZŠ</title>
     
    <!-- CSS files -->
    <link rel="stylesheet" href="css/style.css">

    <!-- external JS files -->
    <script src=""></script>

    <style type="text/css">
    
        input[type=number] {
            width: 10%;
        }
  
  </style>

</head>
<body ng-app="mathApp">

    <!-- main content -->
    <div class="bg-img" ng-controller="mainCtrl">
      <main>

        <div id="operations">
            <label for="operace"> Operace:</label>  
            <input type="text" ng-model="signs"></input>
            <label for="operace"> Počet příkladů:</label>  
            <input type="number" min="1" ng-model="numTasks"></input>
            <button ng-click="getSigns()">OK</button>
        </div>

        <br>

        <div id="app" class="inactive">
            <span id="num1">{{num1}}</span> 
            <span id="sign">{{sign}}</span>
            <span id="num2">{{num2}}</span>
            =
            <input type="number" ng-model="result"></input>

            <button ng-click="evaluate()">OK</button>
            <span id="remaining">{{remaining}}</span>
        </div>

        <br>

        <div id="results" class="inactive">
            <span>Správně {{correct}}</span>
            <span>Špatně {{wrong}}</span>
        </div>
      </main>
    </div>  

    <!-- main JS file -->
    <script src="../libs/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controller.js"></script>
</body>
</html>